.App {
  --light-font: white;
  --dark-font: #1a1a1b;
  --light-border: #d3d6da;
  --dark-border: #878a8c;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}


.header {
  border-bottom: 1px solid #d3d6da;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .title {
  margin: 0;
  color: var(--dark-font);
  letter-spacing: 3.2px;
  font-size: 36px;
}

.board {
  padding-top: 3em;
  width: min-content;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  color: var(--dark-font);
  border: 2px solid var(--light-border);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  width: 62px;
  height: 62px;
}

.tile.entered {
  border-color: var(--dark-border);
}

.tile.green {
  background-color: green;
  color: white;
}

.tile.yellow {
  background-color: yellow;
  color: black;
}

.tile.grey {
  background-color: grey;
  color: white;
}

html {
  width: 100vw;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.key {
  padding: 1em;
  margin: 0.2em;
  border: none;
  background-color: #d3d6da;
  font-size: 1.2em;
  cursor: pointer;
}

.wide-key {
  padding: 1em 2em;
}

.key:active {
  background-color: #878a8c;
}



.win-message {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: green;
}


.win-message, .lose-message {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.win-message {
  color: green;
}

.lose-message {
  color: red;
}

